<div class="container">
    <div class="card-blue">
        <h1>Nosotros</h1>
        <br>
        <hr>
        <br>
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia temporibus impedit aliquam, 
        cum omnis, error illum placeat, debitis dicta repellat deserunt! Labore asperiores mollitia ullam 
        quidem libero rerum eum sit?</p> <br> <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vel quam debitis odio voluptatem 
        repudiandae architecto maxime, quidem earum doloremque, voluptate error ab facilis ullam sint. 
        Itaque aperiam commodi, praesentium dolores quae voluptatem facilis inventore! Totam quod at obcaecati, 
        ecessitatibus voluptatibus eum maiores doloremque dolorum ad labore soluta voluptatum nobis.</p><br><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vel quam debitis odio voluptatem 
        repudiandae architecto maxime, quidem earum doloremque, voluptate error ab facilis ullam sint. 
        Itaque aperiam commodi, praesentium dolores quae voluptatem facilis inventore! Totam quod at obcaecati, 
        ecessitatibus voluptatibus eum maiores doloremque dolorum ad labore soluta voluptatum nobis.</p>
    </div>
</div>