<div class="bg-blue">
    <div class="container">
        <div class="card-white">
            <h1>Guarda tus notas gratis!</h1><br><hr><br>
            <br>
            <a href="/user/register">Empezar</a>
        </div>
    </div>
</div>