<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notas app</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="login">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Nosotros</a></li>
                {{#if usuario}} <!-- si el usuario existe que le muestre las opciones -->
                    <li><a href="/notas">Mis notas</a></li> 
                    <li><a href="/agregar/new-notes">Agregar</a></li>
                    <li><a href="/notas/cerrar">Cerrar</a></li>
                    {{else}}
                    <li><a href="/users/registrar">Registrarse</a></li>
                    <li><a href="/users/ingresar">Ingresar</a></li>
                {{/if}}
            </ul>
        </div>
    </header>
    {{{ body }}}


</body>
</html>